Config:
  domain: my-ovh-domain.com  
  username: xxxxxxx-ovh
  password: xxxxxxx
  admin_email: xxxxxx@example.com
  
Transfers:
  - name: Transfer from sub-mails to global mailing
    origins:
      - team1
      - team2
      - team3
    destinations:
      - all-teams

